body {
    width: 50%;
    margin: auto;
    background-color: darkslategrey;
}

.posts-list a{
    display: block;
    padding: 1rem;
    background-color: gray;
    color: whitesmoke;
}

.post-link {
    color: whitesmoke;
}

.posts-list a:hover {
    background-color: darkgray;
}

nav {
    padding: 1rem;
}